".platform-win32 atom-text-editor, .platform-linux atom-text-editor":
    "ctrl-e": "editor:move-to-end-of-line"

"atom-workspace atom-text-editor":
    "ctrl-a": "editor:move-to-beginning-of-line",
    "ctrl-shift-a": "core:select-all"
