"*":
  core:
    telemetryConsent: "limited"
  editor:
    preferredLineLength: 120
    showInvisibles: true
  "file-icons":
    onChanges: true
  "tree-view":
    autoReveal: true
  welcome:
    showOnStartup: false
