".source.js":
  debugger:
    prefix: "db"
    body: "debugger; // eslint-disable-line"

  describe:
    prefix: "desc"
    body: """
      describe('$1', () => {
        it('${2:should work}', () => {
          ${3:true.should.be.false};
        });
      });
    """

  "eslint disable":
    prefix: "esl"
    body: "/* eslint-disable */"

  it:
    prefix: "it"
    body: """
    it('${1:should work}', () => {
      ${2:true.should.be.false};
    });
    """

  katana:
    prefix: "katana"
    body: "@gamedevfox/katana"

  "kitsune-common":
    prefix: "common"
    body: "@kitsune-system/common"
