[core]
	excludesFile = ~/.gitignore
[credential]
	helper = cache
[include]
	path = ./.neko/.gitconfig
[push]
	default = simple
[user]
	name = Edward Nicholes Jr.
	useConfigOnly = true
[credential "https://github.com"]
	username = Prince86EKNJ
[credential "https://gitlab.com"]
	username = GameDevFox
